*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    color: blue;
}
.hola-mundo{
    background-image: linear-gradient(to top, #db3939, #b47777);
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}
.hola-mundo:hover{
    background-color: rgb(228, 165, 89);
    transition: .3s;
}
.h1:hover{
    color: white;
    transform: skew(-15deg);
    transition: .3s;
}
.flex-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.flex-index img{
    padding: 5px;
}
.flex-index img:hover{
    transform: rotatez(30deg);
}
/* mobile last */
@media (max-width: 500px){
    .hola-mundo{
        background-color: black;
        color: white;
    }
}